#titulo_inventario{

    color: #d8fad7;

}

#titulo_inventario svg{

    fill: #d8fad7;

}

#inventario{

    width: 50%;

}

.inventario_header{

    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;

}

.inventario_header div{

    width: 48%;
    height: 100%;

}

#novoItemBtn img{
    
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;


}

.inventario_main{

    width: 70%;
    flex: 1;

    margin-left: 50px;

}

.inventario_main_header{

    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.inventario_main_header_btn{

    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inventario_main_header_btn img{

    height: 100%;
    transition: 0.2s;

}

.inventario_main_header_btn img:hover{

    transform: scale(1.1);
}

#inventarioMainBtnLeft{

    transform: scale(-1);

}

.inventario_main_body{

    width: 100%;
    height: 85%;
    display: flex;
    
}

#inventarioMainTipo{

    letter-spacing: 10px;
    color: #927773;
    

}

#inventarioLista {
    width: 95%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 35px;
    gap: 20px;
}

.inventario_item {
    width: 150px;
    height: 150px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventario_item img{

    height: 100%;
    width: 100%;
    transition: 0.3s;

}

.item_arma img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #ad6161);

}

.item_amuleto img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #4a725c);

}

.item_protecao img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #855c41);

}

.item_mochila img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #3b5738);

}

.item_recipiente img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #444368);

}

.item_ferramenta img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #68435d);

}

.item_suprimento img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #686843);

}

.item_variado img:hover{

    transform: scale(1.1);
    filter: drop-shadow(10px 10px #435368);

}

#inventarioListaAvancarBtn{

    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#inventarioListaAvancarBtn img{

    width: 100%;
    padding-bottom: 30px;
    transition: 0.2s;

}

#inventarioListaAvancarBtn img:hover{

    transform: scale(1.1);

}



#menu_inventario_adicionar{

    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: none;

}

#menu_inventario_adicionar .menu_buttons{

    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    border-left: 15px double;
    border-radius: 7px;

}



#menu_inventario_adicionar .menu_buttons button{

    font-size: 14pt;
    height: 100%;
    width: 11.5%;
    background-color: #14100e54;
    border-left: #9e7561 solid 3px;
    color: #9e7561;
    transition: 0.2s;
    border-bottom: #9e7561 solid 3px;
    border-radius: 10px;
    outline: none;

}

#novoVariadoBtn {

    border-radius: 10px 30px 30px 10px !important;

}

#menu_inventario_adicionar .menu_buttons button:hover{

    background-color: #dba99028;

}

#menu_adicionar_titulo{

    text-transform: uppercase;

}

#menu_adicionar_container{

    width: 80%;
    flex: 1;
    max-height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

#menu_adicionar_container h1{

    min-height: 50px;
    width: fit-content;
    background-color: #9e7561;
    border-radius: 20px;
    color: #2c211c;
    text-align: center;
    align-content: center;
    padding: 0px 50px;

}

#adicionar_item_btn{

    width: 30%;
    aspect-ratio: 10/3;
    font-size: 15pt;
    background-color: #14100e54;
    border-radius: 30px;
    border: #9e7561 dotted 3px;
    color: #9e7561;
    transition: 0.2s;

}

#adicionar_item_btn:hover{

    transform: scale(1.1);

}

.menu_adicionar_form{

    width: 100%;
    flex: 1;
    max-height: 450px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

.menu_adicionar_form input{

    width: 55%;
    min-width: 300px;
    font-size: 13pt;
    text-align: center;
    border-bottom: #9e7561 5px dotted;
    background-color: #14100e54;
    padding: 5px;
    border-radius: 15px;
    color: #9e7561;
    outline: none;
    transition: 0.2s;

}

.menu_adicionar_form input[type="number"]{

    max-width: 20%;
    min-width: 120px;
    min-height: 50px;
    font-size: 15pt;

}

.menu_adicionar_form input:hover{

    transform: scale(1.05);
    font-size: 16pt;

}

.menu_adicionar_form input:focus{

    transform: scale(1.05);
    font-size: 16pt;

}

.menu_adicionar_form input::placeholder{

    color: #3d3429;

}

.menu_adicionar_container button:hover{

    width: 32%;
    aspect-ratio: 10/4;

}

.menu_adicionar_form button{

    height: 60px;
    width: 60px;
    background-color: #14100e54;
    border-radius: 30px;
    border: #9e7561 dotted 3px;
    color: #9e7561;
    transition: 0.2s;
    font-size: 30pt;

}

.menu_adicionar_form button:hover{

    transform: scale(1.2);

}

.menu_adicionar_form textarea{

    width: 55%;
    min-height: 100px;
    flex: 1;
    max-height: 250px;
    resize: none;
    font-size: 13pt;
    border-bottom: #9e7561 5px dotted;
    background-color: #14100e54;
    padding: 10px;
    border-radius: 15px;
    color: #9e7561;
    outline: none;
    transition: 0.2s;

}

.menu_adicionar_form textarea:hover{

    transform: scale(1.05);

}

.menu_adicionar_form textarea:focus{

    transform: scale(1.05);

}


.menu_adicionar_form textarea::placeholder{

    color: #3d3429;

}

.menu_adicionar_form_label{

    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.menu_adicionar_form_div{

    width: 55%;
    height: 5px;
    border: 3px solid #362a24;
    border-radius: 20px;

}

.menu_adicionar_form_label h2{

    font-size: 20pt;

}

.menu_adicionar_modo{

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;

}

.menu_adicionar_multiplo{

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu_adicionar_multiplo button{

    height: 40px;
    width: 40px;
    font-size: 20pt;

}

.menu_adicionar_lista {
    background-color: #362a2486;
    border-top: 5px solid #362a24;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    max-height: 80px;
    flex-shrink: 0;
    overflow-y: auto;
}

.menu_adicionar_lista p{

    background-color: #9e7561;
    border-radius: 5px;
    text-align: center;
    color: #2c211c;
    padding: 5px 0px;
    font-weight: bold;

}

.menu_adicionar_form_label input[type = "checkbox"]{

    height: 40px;
    min-width: 0px;
    width: 40px;

}

.menu_adicionar_modo .menu_adicionar_form_div{

    height: 0px;

}

.menu_adicionar_modos{

    width: 100%;

}